[submodule "extras/arduino-core-api"]
	path = extras/arduino-core-api
	url = https://github.com/arduino/ArduinoCore-API.git
[submodule "extras/mtb-integration"]
	path = extras/mtb-integration
	url = https://github.com/Infineon/mtb-arduino-core-psoc-integration.git
[submodule "extras/mtb-libs/cat1cm0p"]
	path = extras/mtb-libs/cat1cm0p
	url = https://github.com/Infineon/cat1cm0p
[submodule "extras/mtb-libs/cmsis"]
	path = extras/mtb-libs/cmsis
	url = https://github.com/Infineon/cmsis
[submodule "extras/mtb-libs/core-lib"]
	path = extras/mtb-libs/core-lib
	url = https://github.com/Infineon/core-lib
[submodule "extras/mtb-libs/mtb-hal-cat1"]
	path = extras/mtb-libs/mtb-hal-cat1
	url = https://github.com/Infineon/mtb-hal-cat1
[submodule "extras/mtb-libs/mtb-pdl-cat1"]
	path = extras/mtb-libs/mtb-pdl-cat1
	url = https://github.com/Infineon/mtb-pdl-cat1
[submodule "extras/mtb-libs/retarget-io"]
	path = extras/mtb-libs/retarget-io
	url = https://github.com/Infineon/retarget-io.git
[submodule "extras/mtb-libs/abstraction-rtos"]
	path = extras/mtb-libs/abstraction-rtos
	url = https://github.com/Infineon/abstraction-rtos.git
[submodule "extras/mtb-libs/clib-support"]
	path = extras/mtb-libs/clib-support
	url = https://github.com/Infineon/clib-support.git
[submodule "extras/mtb-libs/connectivity-utilities"]
	path = extras/mtb-libs/connectivity-utilities
	url = https://github.com/Infineon/connectivity-utilities.git
[submodule "extras/mtb-libs/cy-mbedtls-acceleration"]
	path = extras/mtb-libs/cy-mbedtls-acceleration
	url = https://github.com/Infineon/cy-mbedtls-acceleration.git
[submodule "extras/mtb-libs/freertos"]
	path = extras/mtb-libs/freertos
	url = https://github.com/Infineon/freertos.git
[submodule "extras/mtb-libs/wifi-connection-manager"]
	path = extras/mtb-libs/wifi-connection-manager
	url = https://github.com/Infineon/wifi-connection-manager.git
[submodule "extras/mtb-libs/lwip-freertos-integration"]
	path = extras/mtb-libs/lwip-freertos-integration
	url = https://github.com/Infineon/lwip-freertos-integration.git
[submodule "extras/mtb-libs/lwip-network-interface-integration"]
	path = extras/mtb-libs/lwip-network-interface-integration
	url = https://github.com/Infineon/lwip-network-interface-integration.git
[submodule "extras/mtb-libs/lwip"]
	path = extras/mtb-libs/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "extras/mtb-libs/mbedtls"]
	path = extras/mtb-libs/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "extras/mtb-libs/secure-sockets"]
	path = extras/mtb-libs/secure-sockets
	url = https://github.com/Infineon/secure-sockets.git
[submodule "extras/mtb-libs/whd-bsp-integration"]
	path = extras/mtb-libs/whd-bsp-integration
	url = https://github.com/Infineon/whd-bsp-integration.git
[submodule "extras/mtb-libs/wifi-host-driver"]
	path = extras/mtb-libs/wifi-host-driver
	url = https://github.com/Infineon/wifi-host-driver.git
[submodule "extras/mtb-libs/wifi-resources"]
	path = extras/mtb-libs/wifi-resources
	url = https://github.com/Infineon/wifi-resources.git
[submodule "extras/mtb-libs/wpa3-external-supplicant"]
	path = extras/mtb-libs/wpa3-external-supplicant
	url = https://github.com/Infineon/wpa3-external-supplicant.git
[submodule "extras/arduino-examples"]
	path = extras/arduino-examples
	url = https://github.com/arduino/arduino-examples.git
[submodule "extras/makers-devops"]
	path = extras/makers-devops
	url = https://github.com/Infineon/makers-devops.git
[submodule "extras/arduino-core-tests"]
	path = extras/arduino-core-tests
	url = https://github.com/Infineon/arduino-core-tests.git
[submodule "extras/arduino-devops"]
	path = extras/arduino-devops
	url = https://github.com/Infineon/arduino-devops.git
[submodule "extras/mtb-libs/core-make"]
	path = extras/mtb-libs/core-make
	url = https://github.com/Infineon/core-make.git
[submodule "extras/mtb-libs/btstack"]
	path = extras/mtb-libs/btstack
	url = https://github.com/Infineon/btstack.git
[submodule "extras/mtb-libs/btstack-integration"]
	path = extras/mtb-libs/btstack-integration
	url = https://github.com/Infineon/btstack-integration.git
[submodule "extras/mtb-libs/recipe-make-cat1a"]
	path = extras/mtb-libs/recipe-make-cat1a
	url = https://github.com/Infineon/recipe-make-cat1a.git
[submodule "extras/makers-docker"]
	path = extras/makers-docker
	url = https://github.com/Infineon/makers-docker.git
	